@charset "utf-8";
html,body{
  background: white;
  min-height: 100%;
  -webkit-tap-highlight-color: transparent;
}

.contain{
  max-width: 640px;
  margin: 0 auto;
  position: relative;
}

.fixWidth{
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.contain {
  min-height: 400px;
  text-align: center;
}

.contain .demo div{
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #999;
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  background: #FFFFFF;
}
